<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных протокола</title>
</head>
<body>
<div align="center">
    <h1>Изменение данных протокола</h1>
    <br/>
    <form action="#" method="post" th:action="@{/save}" th:object="${violation}">
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <input th:field="*{id}" type="hidden"/>
                <th>Номер Протокола</th>
                <th>Дата протокола</th>
                <th>Статья нарушения</th>
                <th>Дата рассмотрения</th>
                <th>Тип наложенного наказания</th>
                <th>Взыскание</th>
                <th>Количество извещений</th>
                <th>Судебное решение</th>
                <th>Дата решения</th>
                <th>Возвращено на доработку</th>
                <th>Прекращено по сроку давности</th>
                <th>Адрес нарушения</th>
                <th>ФИО ребенка</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <input th:field="*{id}" type="hidden"/>
                <th><input th:field="*{numProtocol}" type="text"/></th>
                <th><input th:field="*{dateProtocol}" type="date"/></th>
                <th><input th:field="*{articleViolation}" type="text"/></th>
                <th><input th:field="*{reviewDate}" type="date"/></th>
                <th><input th:field="*{punishmentType}" type="text"/></th>
                <th><input th:field="*{collected}" type="text"/></th>
                <th><input th:field="*{notificationsCount}" type="text"/></th>
                <th><input th:field="*{judgementDecision}" type="text"/></th>
                <th><input th:field="*{dateOfDecision}" type="date"/></th>
                <th><input th:field="*{returnToModify}" type="text"/></th>
                <th><input th:field="*{terminationBecauseDate}" type="text"/></th>
                <th><input th:field="*{violationAddress}" type="text"/></th>
                <th><input th:field="*{child}" type="text"/></th>
            </tr>
            </tbody>
        </table>
        <br/>
        <div align="right">
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>